<a href="https://colab.research.google.com/github/SudheenaMisra/MY_Code/blob/main/ALPHABET_PATTERNS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
for i in range(7):
    for j in range(5):
        if (i !=0 and (j==0 or j==4)) or ((i==0 or i ==3) and (j>0 and j<4)):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@       @
@       @
@ @ @ @ @
@       @
@       @
@       @

PATTERN_A

In [2]:
for i in range(9):
    for j in range(5):
        if (j==0 ) or ((i==0 or i==4 or i==8) and (j>0 and j<4)) or (j==4 and (i>0 and i<8 and i!=4)):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @
@       @
@       @
@       @
@ @ @ @
@       @
@       @
@       @
@ @ @ @

PATTERN_B

In [3]:

for i in range(5):
    for j in range(4):
        if (j==0 and (i!=0 and i!=4)) or ((i==0 or i==4) and j>0):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@
@
@
  @ @ @

PATTERN_C

In [4]:

for i in range(6):
    for j in range(5):
        if (j==0) or ((i==0 or i==5) and (j<4)) or (j==4 and (i>0 and i<5 )):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @
@       @
@       @
@       @
@       @
@ @ @ @

PATTERN_D

In [5]:

for i in range (7):
    for j in range(4):
        if j==0 or i==0 or i ==3 or i==6 :
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @
@
@
@ @ @ @
@
@
@ @ @ @

PATTERN_E

In [6]:
for i in range (7):
    for j in range(4):
        if j==0 or i ==0 or i==3:
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @
@
@
@ @ @ @
@
@
@

PATTERN_F

In [7]:
for i in range(5):
    for j in range (7):
        if (j==0 and i!=0 and i!=4) or ((j>0 and j<4) and (i==0 or i==4)) or (i==2 and (j>2 and j<7)) or (j==6 and i>1) \
                   or (i==3 and j==4):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@
@     @ @ @ @
@       @   @
  @ @ @     @

PATTERN_G

In [8]:
for i in range(7):
    for j in range(6):
        if j==0 or j==5 or i==3:
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@         @
@         @
@         @
@ @ @ @ @ @
@         @
@         @
@         @

PATTERN_H

In [9]:

for i in range(6):
    for j in range(5):
        if i==0 or i ==5 or j==2:
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @ @
    @
    @
    @
    @
@ @ @ @ @

PATTERN_I

In [11]:
for i in range(6):
    for j in range(7):
        if j==3 or (i==5 and (j>0 and j<3)) or (i==4 and j==0) or (i==0 and (j>0 and j<6)):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

  @ @ @ @ @
      @
      @
      @
@     @
  @ @ @

PATTERN_J

In [12]:
for i in range(5):
     for j in range(4):
         if j==0 :
             print("@", end=" ")
     for k in range(2-i):
         print(" ",end=" ")

     for l in range(3,i+1):
         print(" ",end=" ")

     print("@", end=" ")

     print()

@     @
@   @
@ @
@   @
@     @

PATTERN_K

In [ ]:
for i in range(5):
    for j in range(4):
        if j==0 or i==4:
            print("@",end=" ")

    print()

PATTERN_L

In [13]:
for i in range(4):
    for j in range(7):
        if j==0 :
            print("@", end="")
        # else:
        #     print(end="  ")
    for k in range(1,i+1):
        print(" ",end=" ")
    print("@",end="")
    for l in range(1,4-i):
        print(" ",end=" ")

    for k in range(1,4-i):
        print(" ",end=" ")
    print(end="@")

    for m in range(1,i+1):
        print(" ",end=" ")
    print("@",end=" ")
    print()
for p in range(3):
    for n in range(6):
        if n==0 or n==5:
            print("@ ",end=" ")
        else:
            print(end="   ")
    print()

@@            @@
@  @        @  @
@    @    @    @
@      @@      @
@              @
@              @
@              @

PATTERN_M

In [14]:
for i in range(6):
    for j in range(7):
        if j==0 or j==6 or (j==i and j<4) or ((i+j==6) and i<3):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@           @
@ @       @ @
@   @   @   @
@     @     @
@           @
@           @

PATTERN_M_ANOTHER WAY

In [15]:
for i in range(7):
    for j in range(7):
        if j==0 or i==j or j==6:
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@           @
@ @         @
@   @       @
@     @     @
@       @   @
@         @ @
@           @

PATTERN_N

In [16]:
for i in range(7):
    for j in range(7):
        if j==0 or i+j==6 or j==6:
            print("@", end=" ")
        else:
            print(end="  ")
    print()

@           @
@         @ @
@       @   @
@     @     @
@   @       @
@ @         @
@           @

PATTERN_MIRROR_N

In [17]:
for i in range(6):
    for j in range(5):
        if ((i==0 or i==5) and (j!=0 and j!=4)) or ((j==0 or j==4) and (i>0 and i<5)):
            print("@",end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@       @
@       @
@       @
@       @
  @ @ @

PATTERN_O

In [18]:
for i in range(6):
    for j in range(5):
        if j==0 or ((i==0 or i==3) and j<4) or (j==4 and i!=0 and i<3):
            print("@", end=" ")
        else:print(end="  ")
    print()

@ @ @ @
@       @
@       @
@ @ @ @
@
@

PATTERN_P

In [19]:
for i in range(7):
    for j in range(5):
        if ((i==0 or i==5) and (j!=0 and j!=4)) or ((j==0 or j==4) and (i!=0 and i!=5 and i!=6)) or (j==2 and i==4) or (j==4 and i==6):
            print("@",end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@       @
@       @
@       @
@   @   @
  @ @ @
        @

PATTERN_Q

In [20]:
for i in range(7):
    for j in range(5):
        if j==0 or (j==4 and i!=0 and i!=3) or ((i==3 or i==0) and (j!=0 and j!=4)):
            print("@",end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @
@       @
@       @
@ @ @ @
@       @
@       @
@       @

PATTERN_R

In [21]:
for i in range(9):
    for j in range(5):
        if ((i==0 or i==4 or i==8) and (j!=0 and j!=4)) or (j==0 and i!=0 and i<4) or (j==4 and i>4 and i!=8):
            print("@", end=" ")
        else:
            print(end="  ")
    print()

  @ @ @
@
@
@
  @ @ @
        @
        @
        @
  @ @ @

PATTERN_S

In [22]:
for i in range(5):
    for j in range(5):
        if i==0 or j==2:
            print("@",end=" ")
        else:
            print(end="  ")
    print()

@ @ @ @ @
    @
    @
    @
    @

PATTERN_T

In [23]:
for i in  range(4):
    for j in range(5):
        if ((j==0 or j==4) and i!=3) or (i==3 and j!=0 and j!=4):
            print("@",end=" ")
        else:
            print(end="  ")
    print()

@       @
@       @
@       @
  @ @ @

PATTERN_U

In [24]:
for i in range(6):
    for j in range(4):
        if i==j:
            print("@", end="")
        else:
            print(end=" ")

    for k in range(5):
        if i+k==4:
            print("@",end="")
        else:print(end=" ")
    print()

@       @
 @     @
  @   @
   @ @
    @

PATTERN_V

In [25]:
for i in range (4):
     for j in range(4):
         if j==0 or i+j == 3:
             print("@",end=" ")
         else:print(end="  ")
     for k in range(1,4):
         if i==k or k==3:
             print("@",end=" ")
         else:print(end="  ")
     print()

@     @     @
@   @   @   @
@ @       @ @
@           @

PATTERN_W

In [26]:
for i in range(7):
    for j in range(7):
        if i==j or i+j==6:
            print("@",end=" ")
        else:print(end="  ")
    print()

@           @
  @       @
    @   @
      @
    @   @
  @       @
@           @

PATTERN_X

In [27]:
for i in range(7):
    for j in range(7):
        if (i==j and i<3) or (i+j==6 and i<4) or (j==3 and i>3):
            print("@",end=" ")
        else:print(end="  ")
    print()

@           @
  @       @
    @   @
      @
      @
      @
      @

PATTERN_Y

In [28]:
for i in range(6):
    for j in range(6):
        if i==0 or i==5 or i+j==5:
            print("@",end=" ")
        else:print(end="  ")
    print()

@ @ @ @ @ @
        @
      @
    @
  @
@ @ @ @ @ @

PATTERN_Z